\documentclass[version=last, Briefvorlage]{scrlttr2}
\usepackage[utf8]{inputenc}
\usepackage{textcomp}
\usepackage{booktabs}

\newcommand{\mFirstname}{<<name>>}
\newcommand{\mLastname}{<<surname>>}
\newcommand{\mStreet}{<<street>>}
\newcommand{\mPostalcode}{<<zip>>}
\newcommand{\mCity}{<<city>>}
\newcommand{\mPhone}{<<phone>>}
\newcommand{\mEmail}{<<email>>}

\setkomavar{subject}{<<purpose>>}

\setkomavar{signature}{<<signature>>}
\begin{document}

\begin{letter}{<<recipient>>}
	\opening{<<opening>>}
	<<text>>
	\closing{<<closing>>}
\end{letter}
\end{document}